
ion-header {
    margin-bottom: 10px;
    background: #FFFFFF !important;
    font-size: 20px !important;
    box-shadow: 0px 4px 25px rgba(103, 116, 124, 0.05) !important;
    border: 1px solid rgba(219, 230, 236, 0.5) !important;
    p {
      padding: 0 15px;
      font-weight: 600;
      img {
        float: right;
        margin: 0 0 0 15px;
        width: 20px
      }
    }
}

.bookmarks {
    .empty-img {
        width: 70%;
        margin: 50px 15% 10px 15%
    }
    .empty-text {
        width: 70%;
        margin: 30px 15%;
        font-size: 16px;
        line-height: 20px
    }

    .heading {
        color: #112A62;
        padding: 0 10px;
        font-size: 18px;
        font-weight: 600;
        .green--text {
          float: right;
          font-size: 14px
        }
    }
    .scrolling-wrapper {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      margin-bottom: 30px;
      .card_ {
        display: inline-block;
        max-width: 65%;
        min-width: 65%;
        padding: 0 10px !important;
        border-radius: 7px;
        .subject-card {
          box-shadow: 0px 4px 25px rgba(103, 116, 124, 0.05);
          border-radius: 5px;
          width: 100%;
          overflow: hidden;
          .banner {
            width: 100%;
            height: 115px;
            background-position: center;
            background-size: cover;
          }
          .content {
            padding: 0 10px 10px 10px;
            .card-title {
              margin: 5px 0 !important;
              font-size: 18px;
              font-weight: 600
            }
            .card-summary {
              font-size: 14px;
              margin: 5px 0 12px 0;
              width: 100%;
              font-weight: 300;
            }
          }
        }
      }
    }  
}