<ion-header no-border>
  <p class="green--text" (click)="logg()">
    Discover
    <img src="../../assets/notification.svg" alt="" [routerLink]="['/notifications']">
    <img src="../../assets/search.svg" alt="" [routerLink]="['/search']">
  </p>
</ion-header>

<ion-content class="tab1">
  <ion-row *ngFor="let subject of flips; let i = index">
    <p class="heading">
      {{subject.subject}} <span class="green--text" (click)="seeMore(subject.subject)">See more</span>
    </p>
    <div class="scrolling-wrapper">
      <div class="card_" (click)="openSheet(flip.id, i)" *ngFor="let flip of subject.flips; let j = index">
        <div class="subject-card" *ngIf="j <= 10">
          <div class="banner" [style.background-image]="getSantizeUrl(flip.banner+flip.subject)"></div>
          <div class="content">
            <p class="blue--text card-title">
              {{flip.title}}
            </p>
            <p class="dark--text1 card-summary">
              {{flip.description}}
            </p>
            <img src="../../assets/tag.svg" class="tag" alt="" *ngIf="!flip.isBookmarked">
            <img src="../../assets/filled-tag.svg" class="tag" alt="" *ngIf="flip.isBookmarked">
          </div>
        </div>
      </div>
    </div>
  </ion-row>
</ion-content>
