<ion-header no-border>
  <img src="../../assets/back.svg" class="back" (click)="back()" alt="">
    <p class="green--text">
      See more
    </p>
  </ion-header>

<ion-content class="seemore">
  <ion-grid>
    <ion-row *ngFor="let flip of flips">
      <ion-col size="3">
        <div class="img" [style.background-image]="getSantizeUrl(flip.banner+flip.subject)"></div>
      </ion-col>
      <ion-col size="9">
        <h3 class="blue--text heading">{{flip.title}}</h3>
        <p class="sub-text">{{flip.description}}</p>
        <img *ngIf="!flip.isBookmarked" src="../../assets/tag.svg" alt="">
        <img *ngIf="flip.isBookmarked" src="../../assets/filled-tag.svg" alt="">
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>
