ion-header {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    .back {
        position: absolute;
        top: 15px;
        left: 12px;
        width: 11px;
    }
}
.seemore {
    ion-grid {
        ion-row {
            border-bottom: 1px solid #F1F5FF;
            padding: 5px 0 !important;
            ion-col {
                overflow: hidden;
                .img {
                        border-radius: 5px !important;
                        background-size: cover !important;
                        overflow: hidden !important;
                        min-width: 98%;
                        height: 72px;
                        margin: auto
                }
                .heading {
                    margin: 0;
                    font-size: 18px;
                    font-family: 'grotesque-regular';
                    // padding-left: 12px
                }
                .sub-text {
                    font-size: 16px;
                    margin: 5px 0;
                    color: #505565 !important;
                    // padding-left: 12px
                }
                .tag {
                    margin: 12px 0
                }
            }
        }
    }
}