<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <div class="actionsheet" *ngIf="globals.actionsheet.open">
    <div class="overlay" (click)="closeSheet()"></div>
    <div class="content" (swipeleft)="swiped($event)">
      <div class="span"></div>
        <ion-row class="roww">
          <ion-col size="3">
            <div class="img" [style.background-image]="getSantizeUrl(globals.actionsheet.selectedFlip.banner+globals.actionsheet.selectedFlip.subject)"></div>
          </ion-col>
          <ion-col size="9">
            <h3 class="blue--text heading">
              {{globals.actionsheet.selectedFlip.title}}
            </h3>
            <p class="sub-text">
                {{globals.actionsheet.selectedFlip.description}}
            </p>
            <img src="../assets/tag.svg" *ngIf="!globals.actionsheet.selectedFlip.isBookmarked" class="tag" alt="">
            <img src="../assets/filled-tag.svg" *ngIf="globals.actionsheet.selectedFlip.isBookmarked" class="tag" alt="">
          </ion-col>
        </ion-row>
        <p class="blue--text sheet-title">
          <b>About this flip?</b>
        </p>
        <p class="text">
          {{globals.actionsheet.selectedFlip.longDesc}}
        </p>
        <p class="blue--text sheet-title">
          <b>Level</b>
        </p>

        <span *ngIf="globals.actionsheet.selectedFlip.level === 'Beginner'">
          <img src="../assets/beginner.svg" class="lvl" alt=""> <span class="">{{globals.actionsheet.selectedFlip.level}}</span>
        </span>  
        <br>
        <span *ngIf="globals.actionsheet.selectedFlip.level === 'Intermediate'">
          <img src="../assets/intermediate.svg" class="lvl" alt=""> <span class="">{{globals.actionsheet.selectedFlip.level}}</span>
        </span> 
        <br>
        <span *ngIf="globals.actionsheet.selectedFlip.level === 'Advanced'">
          <img src="../assets/advanced.svg" class="lvl" alt=""> <span class="">{{globals.actionsheet.selectedFlip.level}}</span> 
        </span>
        <br>

        <div class="center">
          <button class="green-btn big-btn" *ngIf="globals.actionsheet.selectedFlip.paid"> 
            <b>Read flip </b> <img src="../assets/lock.svg" class="lock" alt="">
          </button>
          <button class="green-btn big-btn" [routerLink]="['/readflip']" *ngIf="!globals.actionsheet.selectedFlip.paid" (click)="closeSheet()"> 
            <b>Read flip </b> <img src="../assets/white-caret.svg" class="go" alt="">
          </button>
        </div>
    </div>
  </div>

  <div class="actionsheet" *ngIf="globals.smallSheet.open">
    <div class="overlay" (click)="closeSheet()"></div>
    <div class="small-content">
      <div class="filter">
        <img src="../../assets/filter.svg" class="filter-img" alt=""> 
        <span class="filter-text">Filter results</span>
        <img src="../assets/close.svg" (click)="closeSheet()" class="close" alt="">
      </div>
      <ion-list>
          <ion-item>
            <ion-label>Beginner</ion-label>
            <ion-toggle [(ngModel)]="beginner" (ionChange)="checked($event)" color="primary"></ion-toggle>
          </ion-item>
        
          <ion-item>
            <ion-label>Intermediate</ion-label>
            <ion-toggle [(ngModel)]="intermediate" color="primary"></ion-toggle>
          </ion-item>
        
          <ion-item>
            <ion-label>Advanced</ion-label>
            <ion-toggle [(ngModel)]="advanced" color="primary"></ion-toggle>
          </ion-item>
        </ion-list>
    </div>
  </div>
</ion-app>
