ion-header {
    margin-bottom: 10px;
    p {
      padding: 0 15px;
      font-weight: 600;
      text-align: center
    }
}
.back {
    position: absolute;
    top: 10px;
    left: 12px;
    width: 11px;
    margin: 6px 12px;
}
.edit-profile {
    text-align: center;
    .photo {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        overflow: hidden;
        margin: 30px auto 20px auto;
        border: 5px solid #F0F1F3;
        background-position: center;
        line-height: 90px
    }
    .name {
        font-size: 14px;
        margin: 5px 0;
        font-family: 'grotesque-bold';
    }
    .inputs {
        padding: 0 20px 20px 20px;
        input, select {
            margin: 10px 0;
            padding-left: 20px;
            width: 100%;
            background-color: transparent;
            font-size: 14px;
            color : #222829;
        }
    }
}