<ion-header no-border>
  <p class="green--text">
    Profile
    <img src="../../assets/search.svg" alt="">
    <img src="../../assets/notification.svg" alt="">
  </p>
</ion-header>

<ion-content class="profile">
  <div class="center">
    <div class="photo">
      <img src="../../assets/default profile pix.png" alt="">
    </div>
    <p class="blue--text name">
      Adewale Omoniyi
    </p>
    <p class="level">
      Beginner
    </p>
  </div>

  <p class="blue--text title-text">
    Achievements
  </p>
  <ion-row>
    <ion-col size="4">
      <img src="../../assets/beginner (1).svg" alt="">
    </ion-col>
    <ion-col size="4">
      <img src="../../assets/apprentice.svg" alt="">
    </ion-col>
    <ion-col size="4">
      <img src="../../assets/practitioner.svg" alt="">
    </ion-col>
    <ion-col size="4">
      <img src="../../assets/ninja.svg" alt="">
    </ion-col>
    <ion-col size="4">
      <img src="../../assets/guru.svg" alt="">
    </ion-col>
    <ion-col size="4">
      <img src="../../assets/lord.svg" alt="">
    </ion-col>
  </ion-row>


  <p class="blue--text title-text">
    Settings
  </p>
  <p class="link" [routerLink]="['/editprofile']">
    Edit your profile <img src="../../assets/right-caret.svg" alt="">
  </p>
  <p class="link">
    Change subjects <img src="../../assets/right-caret.svg" alt="">
  </p>
  <p class="link">
    Manage payments <img src="../../assets/right-caret.svg" alt="">
  </p>
  <p class="link">
    About <img src="../../assets/right-caret.svg" alt="">
  </p>
  <p class="link">
    Help and support <img src="../../assets/right-caret.svg" alt="">
  </p>
  
  <p class="logout">
    Logout
  </p>
</ion-content>
