ion-header {
    text-align: center;
    margin-bottom: 0px !important;
    font-weight: 600;
    .back {
        position: absolute;
        top: 15px;
        left: 12px;
        width: 11px;
    }
}

.morebookmarks {
    .topLinks {
        width: 100%;
        padding: 0 !important;
        box-shadow: 2px 2px 2px #fcfcfc;
        background-color: #fff;
        li {
            display: inline-block;
            list-style: none;
            width: 33%;
            font-size: 14px;
            font-family: 'grotesque-regular';
            padding: 12px 0;
            text-align: center;
            color: rgba(17, 42, 98, 0.5);
        }
        .selected {
            border-bottom: 2px solid #54C270;
            color: #112A62
        }
    }

    .empty-img {
        width: 70%;
        margin: 50px 15% 10px 15%
    }
    .empty-text {
        width: 70%;
        margin: 30px 15%;
        font-size: 16px;
        line-height: 20px
    }

    ion-grid {
        ion-row {
            border-bottom: 1px solid #F1F5FF;
            padding: 5px 0 !important;
            ion-col {
                overflow: hidden;
                .img {
                        border-radius: 5px !important;
                        background-size: cover !important;
                        overflow: hidden !important;
                        min-width: 98%;
                        height: 65px;
                        margin: auto
                }
                .heading {
                    margin: 0;
                    font-size: 18px;
                    font-family: 'grotesque-regular';
                    // padding-left: 12px
                }
                .sub-text {
                    font-size: 16px;
                    margin: 5px 0;
                    color: #505565 !important;
                    // padding-left: 12px
                }
                .tag {
                    margin: 12px 0
                }
            }
        }
    }
}