<ion-header no-border>
  <img src="../../assets/back.svg" class="back" (click)="back()" alt="">

  <img src="../../assets/close.svg" class="close" (click)="close()" alt="">
  <input type="text" (keyup)="searchIt($event)" [(ngModel)]="searchTerm" class="small-inp" placeholder="Your password">  
</ion-header>

<ion-content class="search">
  <div class="filter" *ngIf="searched" (click)="openFilter()">
    <img src="../../assets/filter.svg" class="filter-img" alt=""> <span class="filter-text">Filter results</span>
  </div>
  <ion-grid *ngIf="searched">
      <ion-row>
        <ion-col size="3">
          <div class="img" style="background-image: url('../../assets/Rectangle.png')"></div>
        </ion-col>
        <ion-col size="9">
          <h3 class="blue--text heading">I'm a big deal</h3>
          <p class="sub-text">Listen, I've had a pretty messed</p>
          <img src="../../assets/filled-tag.svg" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <div class="img" style="background-image: url('../../assets/Rectangle.png')"></div>
        </ion-col>
        <ion-col size="9">
          <h3 class="blue--text heading">I'm a big deal</h3>
          <p class="sub-text">Listen, I've had a pretty messed</p>
          <img src="../../assets/filled-tag.svg" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <div class="img" style="background-image: url('../../assets/Rectangle.png')"></div>
        </ion-col>
        <ion-col size="9">
          <h3 class="blue--text heading">I'm a big deal</h3>
          <p class="sub-text">Listen, I've had a pretty messed</p>
          <img src="../../assets/filled-tag.svg" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <div class="img" style="background-image: url('../../assets/Rectangle.png')"></div>
        </ion-col>
        <ion-col size="9">
          <h3 class="blue--text heading">I'm a big deal</h3>
          <p class="sub-text">Listen, I've had a pretty messed</p>
          <img src="../../assets/filled-tag.svg" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <div class="img" style="background-image: url('../../assets/Rectangle.png')"></div>
        </ion-col>
        <ion-col size="9">
          <h3 class="blue--text heading">I'm a big deal</h3>
          <p class="sub-text">Listen, I've had a pretty messed</p>
          <img src="../../assets/filled-tag.svg" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <div class="img" style="background-image: url('../../assets/Rectangle.png')"></div>
        </ion-col>
        <ion-col size="9">
          <h3 class="blue--text heading">I'm a big deal</h3>
          <p class="sub-text">Listen, I've had a pretty messed</p>
          <img src="../../assets/filled-tag.svg" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <div class="img" style="background-image: url('../../assets/Rectangle.png')"></div>
        </ion-col>
        <ion-col size="9">
          <h3 class="blue--text heading">I'm a big deal</h3>
          <p class="sub-text">Listen, I've had a pretty messed</p>
          <img src="../../assets/filled-tag.svg" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <div class="img" style="background-image: url('../../assets/Rectangle.png')"></div>
        </ion-col>
        <ion-col size="9">
          <h3 class="blue--text heading">I'm a big deal</h3>
          <p class="sub-text">Listen, I've had a pretty messed</p>
          <img src="../../assets/filled-tag.svg" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <div class="img" style="background-image: url('../../assets/Rectangle.png')"></div>
        </ion-col>
        <ion-col size="9">
          <h3 class="blue--text heading">I'm a big deal</h3>
          <p class="sub-text">Listen, I've had a pretty messed</p>
          <img src="../../assets/filled-tag.svg" alt="">
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
 