
<ion-header no-border>
    <img src="../../assets/back.svg" class="back" (click)="back()" alt="">
    <p class="green--text">
      Notifications
    </p>
  </ion-header>

<ion-content class="notifications">
  <ion-row>
    <p>
      A new flip <span> Reproductive Systems</span> has been added to Biology. <span>Start learning now</span>
    </p>
    <small>10 Mins </small>
  </ion-row>
  <ion-row>
    <p>
      A new flip <span> Reproductive Systems</span> has been added to Biology. <span>Start learning now</span>
    </p>
    <small>10 Mins </small>
  </ion-row>
  <ion-row>
    <p>
      A new flip <span> Reproductive Systems</span> has been added to Biology. <span>Start learning now</span>
    </p>
    <small>10 Mins </small>
  </ion-row>
  <ion-row>
    <p>
      A new flip <span> Reproductive Systems</span> has been added to Biology. <span>Start learning now</span>
    </p>
    <small>10 Mins </small>
  </ion-row>
  <ion-row>
    <p>
      A new flip <span> Reproductive Systems</span> has been added to Biology. <span>Start learning now</span>
    </p>
    <small>10 Mins </small>
  </ion-row>
  <ion-row>
    <p>
      A new flip <span> Reproductive Systems</span> has been added to Biology. <span>Start learning now</span>
    </p>
    <small>10 Mins </small>
  </ion-row>
</ion-content>
